
#main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-container form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

#main-container form img {
  width: 10rem;
  margin: 0 auto;
}

#main-container form input,
#main-container form button {
  height: 48px;
  border-radius: 4px;
  padding: 0 20px;
  font-size: 16px;
}

#main-container form input {
  border: 1px solid #ddd;
  margin-top: 1rem;
}

#main-container form button {
  background-color: #1db954;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  margin-top: 10px;
}

#main-container form button:hover {
  opacity: 0.8;
}
